@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	flex: 1;
	padding: 20px;
}

footer {
	text-align: center;
	margin-top: 20px;
}

header {

}

img {
	max-width: 100%;
	height: auto;
}

main {
	flex: 2;
	padding: 20px;
	margin-right: 10px;
}

nav {
	flex: 1;
	padding: 20px;
	margin-right: 10px;
}

#copyright {
	margin: auto;
	width: auto;
	float: left;
	display: inline;
	font-size: 80%;
}

#main-container {
	display: flex;
	margin: 20px;
}